/.venv
/Example.xlsx
/biosteam
/image.png
/image.txt
/new.png
/new1.png
/new2.png
/new4.png.png
/new5.png
/new5.png.png
/sugarcane_sys.png
/test.png
/test1.ipynb
/test2.ipynb
/test3.ipynb
/test3.py
/test5.ipynb